<div class="site-template mkt-site bg-texture">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-lg-12 text-center">
                <h1>Surpreenda-se</h1>
                <p>Da escolha dos ingredientes, ao cuidado na preparação dos pratos, 
                    nossa missão é garantir que a refeição servida atenda plenamente as suas expectativas.<br/>
                    Confira abaixo nossas especialidades:</p>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-9 col-lg-12 text-center">  

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Buffet<br/><small>Cardápio atualizado semanalmente</small></h1>
                    </div>
                    <div class="panel-body">
                        <h5>Semana de 01/10 a 16/10</h5>
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="active"><a href="#segunda" role="tab" data-toggle="tab">Segunda</a></li>
                            <li><a href="#terca" role="tab" data-toggle="tab">Terça</a></li>
                            <li><a href="#quarta" role="tab" data-toggle="tab">Quarta</a></li>
                            <li><a href="#quinta" role="tab" data-toggle="tab">Quinta</a></li>
                            <li><a href="#sexta" role="tab" data-toggle="tab">Sexta</a></li>
                        </ul>

                        <div class="tab-content text-left">
                            <div class="tab-pane active" id="segunda">

                                <div class="dish-container">
                                    <div class="dish-header">
                                        <%= image_tag("pratos_quentes.png", size:"25") %>
                                        <span>Pratos Quentes</span>
                                    </div>
                                    <div class="dish-content">
                                        Carne de sol, bacalhau
                                    </div>
                                </div>

                                <div class="dish-container">
                                    <div class="dish-header">
                                        <%= image_tag("pratos_frios.png", size:"25") %>
                                        <span>Pratos Frios</span>
                                    </div>
                                    <div class="dish-content">
                                        Sushi, patê, etc
                                    </div>
                                </div>
                                
                                <div class="dish-container">
                                    <div class="dish-header">
                                        <%= image_tag("saladas.png", size:"25") %>
                                        <span>Saladas</span>
                                    </div>
                                    <div class="dish-content">
                                        Alface, tomate, cenoura
                                    </div>
                                </div>
                                
                                <div class="dish-container">
                                    <div class="dish-header">
                                        <%= image_tag("sobremesas.png", size:"25") %>
                                        <span>Sobremesas</span>
                                    </div>
                                    <div class="dish-content">
                                        Frutas, mousse
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="terca">...</div>
                            <div class="tab-pane" id="quarta">...</div>
                            <div class="tab-pane" id="quinta">...</div>
                            <div class="tab-pane" id="sexta">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-9 col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">À La Carte<br/><small>Pratos servidos diariamente</small></h1>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


