
<form id="login-form">
    <div class="container">
        <div class="row">
            <div class="col-4 col-lg-4"></div>
            <div class="col-4 col-sm-12 col-lg-4 ">
                
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h1 class="panel-title">Acesso restrito</h1>
                    </div>
                    <div class="panel-body">
                        <input class="form-control" placeholder="Usuário" required="" autofocus="" type="email">
                        <input class="form-control" placeholder="Senha" required="" type="password">
                        <input value="remember-me" type="checkbox" /><label>Mantenha-me conectado</label><br>
                        <div class="text-center"><button class="btn btn-primary" type="submit">Entrar</button></div>
                    </div>
                </div>
                
            </div>
            <div class="col-4 col-lg-4"></div>
        </div>
    </div>
</form>
