
<div class="site-template">
    <div class="row mkt-home">
        <div class="col-xs-12 col-sm-9 col-lg-12 ">

            <div class="container">
                <div class="logo-container">
                    <%= image_tag("Canto_Paulista_Logo.png", size:"320x62") %>
                </div>
            </div>

            <div class="container">
                <div class="site-template">
                    <div class="row">
                        <div class="col-5 col-sm-12 col-lg-5 home_campaign text-center">
                            <br/>
                            <h1>O melhor da culinária casual</h1>
                            <br/>
                            <p>
                                Ambiente aconchegante, atendimento diferenciado, e o mais importante: os melhores sabores e ingredientes em cada prato!
                            </p>
                            <button class="btn btn-success">Conheça</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

<div class="middle-section">
    <div class="container">
        <div class="site-template">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-lg-12 ">

                    <div class="row text-center home_topics">
                        <div class="col-4 col-sm-4 col-lg-4">
                            <h3>Sinta-se em casa</h3>
                            <p>Variações diárias de pratos da culinária paulistana e nacional, 
                                colocados a sua disposição para que você faça suas refeições do seu jeito.</p>
                            <button class="btn btn-success">Nosso buffet</button>
                        </div>

                        <div class="col-4 col-sm-4 col-lg-4">
                            <h3>Uma boa mesa</h3>
                            <p>Escolha dentre nossas opções à La Carte, 
                                e tenha a certeza que ao final da refeição você estará com um sorriso no rosto.</p>
                            <button class="btn btn-success">Escolha a sua</button>
                        </div>

                        <div class="col-4 col-sm-4 col-lg-4">
                            <h3>Parcerias</h3>
                            <p>
                                Oferecemos condições especiais para empresas que desejarem fazer 
                                de nosso restaurante o endereço certo para as refeições de seus colaboradores.
                            </p>
                            <button class="btn btn-success">Fale conosco</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>